.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  padding: 0 10px;
  transition: visibility 0.3s, opacity 0.3s ease-in;
  opacity: 0;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
}

.modal__content {
  padding: 32px 50px 32px;
  max-width: 730px;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #fff;
}

.modal__content_type_preview {
  padding: 0;
  width: 446.43px;
  height: 661px;
  top: -68px;
  border-radius: 8px;
  background-color: transparent;
}

.modal__caption {
  display: inline-block;
  top: 750px;
  left: 497px;
  border-radius: 8px;
  padding: 4px 8px 4px 8px;
  background-color: #212121;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

.modal__image {
  width: 100%;
  object-fit: contain;
  max-width: 90vw;
  max-height: 80vh;
  border-radius: 8px;
  background-color: transparent;
}

.modal__close {
  position: absolute;
  top: 30px;
  right: 40px;
  width: 40px;
  height: 40px;
  opacity: 40%;
  display: flex;
  justify-content: center;
  background: none;
  border: none;
}

.modal__close_type_preview {
  background-image: url(../images/newCloseIcon.svg);
  top: 0;
  right: -55px;
  opacity: 1;
}

.modal__close:hover {
  cursor: pointer;
  opacity: 100%;
}

.modal__title {
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  color: #212121;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  font-family: "Poppins", sans-serif;
  color: #212121;
  opacity: 70%;
  line-height: 110.00000000000001%;
  font-weight: 500;
  font-size: 16px;
}

.modal__input {
  padding: 16px 12px;
  border-radius: 8px;
  margin: 0px;
  color: #212121;
  opacity: 40%;
  line-height: 100%;
  font-weight: 500;
}

.modal__input:hover {
  opacity: 100%;
}

.modal__input_type_error {
  border: 1px solid rgba(255, 0, 0, 0.6);
}

.modal__submit-btn {
  width: 156px;
  padding: 18px 32px;
  border-radius: 8px;
  background-color: #212121;
  color: #fcf5e5;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  border: none;
}

.modal__submit-btn:hover {
  cursor: pointer;
  opacity: 80%;
}

.modal__error {
  display: block;
  color: red;
  margin-top: 8px;
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 0 10px;
    position: fixed;
  }

  .modal__content {
    padding: 12px;
    gap: 24px;
    border-radius: 8px;
    top: -187px;
    height: 432px;
    width: 300px;
  }

  .modal__caption {
    height: 19px;
    font-size: 16px;
    line-height: 120%;
  }

  .modal__title {
    font-size: 20px;
    margin: 10px 0 34px;
    width: 93px;
    height: 20px;
  }

  .modal__close {
    width: 40px;
    height: 40px;
    top: 10px;
    right: 5px;
    position: absolute;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__close_type_preview {
    top: -40px;
    right: -10px;
  }

  .modal__content_type_preview {
    padding: 0;
  }
  .modal__image {
    max-width: 413px;
    left: 16px;
    border-radius: 4px;
  }

  .modal__submit-btn {
    width: 100%;
  }
}
