.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
  max-width: 90%;
}

.profile__avatar {
  height: 190px;
  width: 190px;
  margin-right: 20px;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 420px;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 288px;
  color: #212121;
}

.profile__description {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: #212121;
  opacity: 70%;
}

.profile__edit-btn {
  width: 107.34px;
  height: 16px;
  margin-top: auto;
  background: none;
  border: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  font-size: 16px;
  line-height: 16px;
  opacity: 70%;
  color: #212121;
  font-weight: 500;
}

.profile__edit-btn:hover {
  cursor: pointer;
  opacity: 100%;
}

.profile__add-btn {
  margin-left: auto;
  border-radius: 8px;
  background: #212121;
  width: 149px;
  height: 52px;
  color: #fcf5e5;
  margin-top: auto;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  opacity: 100%;
  border: none;
}

.profile__add-btn:hover {
  cursor: pointer;
  opacity: 80%;
  background-image: url();
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    margin: 0 0 12px;
    height: 80px;
    width: 80px;
  }

  .profile__name {
    margin-bottom: 6px;
    font-size: 20px;
    max-width: inherit;
    text-align: center;
  }

  .profile__description {
    margin: 0 0 32px;
  }

  .profile__column {
    margin: 0 0 20px;
  }

  .profile__edit-btn {
    gap: 8px;
    margin-right: 0;
    place-self: center;
  }

  .profile__add-btn {
    margin: 0;
    width: 100%;
    gap: 8px;
    justify-content: center;
  }
}
